
#top {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 0px;
    font-family: sans-serif;
    margin: 0px 0px 0px 0px;
    height: 100px;
}

#bottom {  
    background-color: #c2dfef;
    padding: 5px;
    margin: px 0px 0px 0px;
    height: 50px;
}
#bottom span{  
    float: right;
    padding: 20px 30px 0 0;
}
#left {

    float: left;
    /*    background-color: #ece3a5;*/
    padding: 5px;
    width: 160px;
    /*    height:480px;*/
}

#right {

    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
    /*    height: 480px;*/
}

.center_content {   
    background-color: #dddddd;
    padding: 5px;
    min-height: 480px;
    /*     height: 480px;*/
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
    min-height: 480px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
    /*    height: 480px;*/
}

#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}

.head-logo{
    float: left;
    padding: 30px 0 0 10px;
    color: #fff;
    font-size: 30px;
}
